.Portfolio {
  position: relative;
  min-height: 100vh;
  padding: 0 8rem;
  text-align: left;
  text-align: center;
}

.Portfolio__list {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Portfolio__item {
  margin: 0 0 4rem;
  display: block;
  width: calc(50% - 2rem);
  position: relative;
}

.Portfolio__link {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.Portfolio__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
